// Vars
$text-color: hsla(190, 40%, 23%, 1);
$text-hover-color: hsla(190, 40%, 10%, 1);
$padding: 30px;

// Layout
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
#svelte {
	min-height: 100vh;
}

body {
	margin: 0;
	padding: 0;
}

#svelte {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: $padding;
}

// Typography
:root {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
		sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
	font-size: 0.625rem;
	color: $text-color;
}

a,
a:link,
a:active,
a:visited {
	position: relative;
	color: $text-color;
	text-decoration: none;
}

a:hover {
	color: $text-hover-color;
}

// Animation
@keyframes slideInY {
	from {
		opacity: 0;
		transform: translateY(100px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideInX {
	from {
		opacity: 0;
		transform: translateX(100px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}
